<!DOCTYPE html>
<html>
<head>

  <title>Jack Shelley</title>
  <%= csrf_meta_tags %>

<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div id="title-container">
    <div id='title'>
      <h1 class='quicksand' id='name'>JACK SHELLEY<div class="line"></div><div id='subtitle'>a man of many hats</div></h1>
    </div>
  </div>
  <div id="icon-container">
    <div class='square' id='cowboy'></div>
    <div class='square' id='wizard'></div>
    <div class='square' id='fucker'></div>
    <div class='square'></div>
    <div class='square'></div>
  </div>

    <div class="wrapper">
    <div class='quicksand slide'id='title-name'>AAAAAHHHH</div> 
     <div class='quicksand slide'id='title-name'><%=@thing.first['title']%></div> 
    </div>

    <div class="wrapper2">
      <div class='quicksand slide' id='title-description'><%=@thing.first['description']%></div>
    </div>

  <div id='home_drawing'><%= image_tag("imageedit_7_5031060546.png", size: "450x740", alt: "home_drawing") %></div>


</body>
</html>
